<header class="header">
    <div class="container">
        <div class="header-logo">
            <img src="assets/img/logo.svg" alt="">
        </div>
        <nav class="header-navigation">
            <a href="#" class="header-navigation-item">Home</a>
            <a href="#" class="header-navigation-item">About</a>
            <a href="#" class="header-navigation-item">Product</a>
            <a href="#" class="header-navigation-item">Contact</a>
            <a href="#" class="header-navigation-item">History</a>
        </nav>
        <button class="btn.btn-primary">Contact us</button>
    </div>
